body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px
}
.name{
    color: blue;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
    
}
.half-width img{
    width: 70%;
    
}
.link-button{
    text-decoration: none;
    background-color: chartreuse;
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
}
.top-banner{
    background-image: url(/images/radient.png);
    background-repeat: no-repeat;
}